<div class="slide__card--main">
    <div class="slide__main--card">
        <div class="slide__left">
            {% include "@atoms/images/image/responsive-image.twig" with {
                image_src: slide_card_src,
                image_alt: slide_card_alt,
            } %}
        </div>
    </div>
</div>
